.container {
  margin: auto;
  width: 60%;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  border-radius: 25px;
  background-color: white;
}

.hero {
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
  text-align: center;
}

.chart-container {
  max-width: 75%;
  margin: 0 auto;
}

.toggle {
  margin:0 0 0 2rem;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.toggle input {
  display: none;
}

.roundbutton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #33455e;
  display: block;
  transition: all 0.3s;
  border-radius: 3.4rem;
  cursor: pointer;
}

.roundbutton:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.5rem;
  border-radius: 100%;
  display: block;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  transition: all 0.3s;
}

input:checked + .roundbutton {
  background-color: #FF6E48;
}

input:checked + .roundbutton:before  {
  transform: translate(2.6rem, 0);
}

.button {
  width: 250px;
  display: -webkit-inline-box;
  -webkit-box-pack: justify;
  margin: 20px 5px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.buttonsgrid {
  display: block;
  width:75%;
  margin-left:12.5%;
  margin-top: 5%;
  text-align: center;
  border-radius: 25px;
}

.buttonsgrid h1 {
  text-align: center;
  margin: 0;
  margin-top: 5%;
}

.nav .pagename {
  width: fit-content;
}

body {
	background-color: #ebf2f6;
}