.container {
  margin: auto;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  border-radius: 25px;
  background-color: white;
  width: 100%
}

.hero {
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
  text-align: center;
  font-size: 30px;
}

.chart-container {
  max-width: 90%;
  margin: 0 auto;
}

.toggle {
  margin:0 0 0 2rem;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.toggle input {
  display: none;
}

.roundbutton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #33455e;
  display: block;
  transition: all 0.3s;
  border-radius: 3.4rem;
  cursor: pointer;
}

.roundbutton:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.5rem;
  border-radius: 100%;
  display: block;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  transition: all 0.3s;
}

input:checked + .roundbutton {
  background-color: #FF6E48;
}

input:checked + .roundbutton:before  {
  transform: translate(2.6rem, 0);
}

.button {
  width: 250px;
  display: -webkit-inline-box;
  -webkit-box-pack: justify;
  margin: 20px 5px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.buttonsgrid {
  display: block;
  width:40%;
  margin-left:30%;
  margin-top: 5%;
  text-align: center;
  border-radius: 25px;
}

.buttonsgrid h1 {
  text-align: center;
  margin: 0;
  margin-top: 5%;
}

.nav .pagename {
  width: fit-content;
}

body {
	background-color: #ebf2f6;
}

.on {
  color: green;
}

.off {
  color:red;
}

.card {
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  border-radius: 20px;
  padding: 5px;
  min-width: 200px;
  width: auto;
  height: 50px;
  margin: 5px;
  display:-webkit-inline-box;
}

.side-card{
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  border-radius: 20px;
  padding: 5px;
  margin: 1em;
}

.bottom {
  text-align: center;
  margin: auto;
}

.bottom h2 {
  margin: 0;
  margin-top: 2%;
  font-size: 20px;
}

.main {
  display: grid;
  grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
}

@media screen and (max-width:1000px) {
  .container {
    width: 100%;
  }
  .hero h1 {
    font-size: 15px;
  }
  .bottom{
    width: 80%;
  }
  .chart-container {
    max-width: 95%;
  }
  .main {
    display: block;
  }

  .buttonsgrid {
    width: 90%;
  }
}

@media screen and (max-width:500px) {
  .card {
    min-width: 100px;
    height: auto;
  }
  .card p {
    font-size: 10px;
  }
}