<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Solar dashboard</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css" />
  <link href="{{url_for('static', filename = 'css/app.css')}}" rel="stylesheet">
</head>

<body>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

  <nav class="nav" tabindex="-1" onclick="this.focus()">
    <div style="margin-left: 1%;">
      <a class="pagename current" href="/">Solar dashboard</a>
      <a class="pagename" href="buttons">Buttons</a>
    </div>
  </nav>
  <div class="main">
    <div class="left">
      <div class="side-card">
        <div class="clock"></div>
      </div>
      <div class="side-card">
        <div class="prijzen">
          <h1>Stroomprijs</h1>
          <div class="prijs">
            <p>Totaalprijs: &nbsp;</p>
            <p id="mprice">0</p>
          </div>
          <div class="prijs">
            <p>Marktprijs: &nbsp;</p>
            </p>
            <p id="price">0</p>
          </div>
          <h6 style="margin:2%;"><a href="https://www.frankenergie.nl/" style="color: gray;">Uurprijs @frankenergie</a>
            </h3>
        </div>
      </div>
      <div class="side-card">
        <div class="batterij">
          <h1>Batterij</h1>
          <div class="percentage" id="charge">0<sup>%</sup></div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="container">
        <div class="hero">
          <h1>Stroomgebruik (W)</h1>
          <div class="chart-container">
            <canvas id="myChart" width="1000" height="600"></canvas>
          </div>
        </div>
      </div>
      <div class="bottom">
        <h2>Relay states</h2>
        <div class="card">
          <p>R0: &nbsp;</p>
          <p id="R0"></p>
        </div>
        <div class="card">
          <p>R1: &nbsp;</p>
          <p id="R1"></p>
        </div>
        <div class="card">
          <p>R2: &nbsp;</p>
          <p id="R2"></p>
        </div>
        <div class="card">
          <p>R3: &nbsp;</p>
          <p id="R3"></p>
        </div>
        <div class="card">
          <p>R4: &nbsp;</p>
          <p id="R4"></p>
        </div>
        <div class="card">
          <p>R5: &nbsp;</p>
          <p id="R5"></p>
        </div>
        <div class="card">
          <p>R6: &nbsp;</p>
          <p id="R6"></p>
        </div>
        <div class="card">
          <p>R7: &nbsp;</p>
          <p id="R7"></p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="side-card">
        <div class="stroom">
          <h1>Stroom</h1>
          <table class="table">
            <tbody>
              <tr>
                <td style="text-align: left; border-radius: 25px 0 0 0;">Batterij</td>
                <td id="BatteryVoltage">0 V</td>
                <td id="BatteryCurrent">0 A</td>
                <td id="BatteryPower" style="border-radius: 0 25px 0 0;">0 W</td>
              </tr>
              <tr>
                <td style="text-align: left;">Zonnepaneel</td>
                <td id="SolarVoltage">0 V</td>
                <td id="SolarCurrent">0 A</td>
                <td id="SolarPower">0 W</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="side-card">
        <div id="weer">
        </div>
      </div>
    </div>
  </div>
</body>

</html>