<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>Dashboard</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
      var socket = io()

      function SendGpio(relay, state) {
        socket.emit('GPIO', {relay: relay, state: state})
      }
    </script>

    <div>
      <div class="button_container"><p>GPIO0</p><button onclick="SendGpio('GPIO0', 'ON')">On</button><button onclick="SendGpio('GPIO0', 'OFF')">OFF</button></div>
      <div class="button_container"><p>GPIO1</p><button onclick="SendGpio('GPIO1', 'ON')">On</button><button onclick="SendGpio('GPIO1', 'OFF')">OFF</button></div>
    </div>

    <script>
      socket.on("updateNumber", function (msg) {
        document.getElementById("demo").innerHTML = msg.value; 
      });
      </script>
    <h1 id="demo"></span>
  </body>
</html>